{
  "presets": [
    ["@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 9"]
        }
      }
    ]
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": true
    }],
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "development": {
      "presets": ["@babel/preset-react"],
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "presets": ["@babel/preset-react"],
      "plugins": []
    }
  }
}
