<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <!-- inject:preload:js -->
  <!-- endinject -->
  <!-- inject:preload:css -->
  <!-- endinject -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta name="apple-mobile-web-app-capable" content="no" />
  <meta name="format-detection" content="telephone=no">
  <title>JUI</title>
  <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <!-- inject:vendor:css -->
  <!-- endinject -->
  <!-- inject:common:css -->
  <!-- endinject -->
  <!-- inject:page:css -->
  <!-- endinject -->
</head>

<body>
  <div id="root"></div>
  <!-- inject:vendor:js -->
  <!-- endinject -->
  <!-- inject:common:js -->
  <!-- endinject -->
  <!-- inject:page:js -->
  <!-- endinject -->
</body>

</html>
